:root {
    --bs-font-sans-serif: 'Manrope';
    --bs-font-serif: 'Fraunces';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--bs-font-serif);
}

.py-120{
    padding-top: 120px;
    padding-bottom: 120px;
}
