:root {
    --bs-font-sans-serif: 'Manrope';
    --bs-font-serif: 'Fraunces';
    --primary-color:#3D8D7A;
    --secondary-color:#B3D8A8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--bs-font-serif);
}
.navbar{
    background-color: var(--secondary-color) !important;
}
.navbar-collapse{
    flex-grow: 0;
}
.carousel-item{
    height: 800px;
}
