:root {
  --bs-font-sans-serif: "Manrope";
  --bs-font-serif: "Fraunces";
  --primary-color: #3d8d7a;
  --secondary-color: #b3d8a8;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--bs-font-serif);
}
header{
  overflow-x: hidden;
}
body {
  padding-top: 4%;
  overflow-x: hidden;
}
.paragraph-color {
  color: #66789c;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.px-6{
  padding-right: 4rem;
  padding-left: 4rem;
}
.fs-52 {
  font-size: 52px;
}
img {
  display: block;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
    filter: invert(1); 
}
.form-control:focus{
  box-shadow: none;
}

/* Navabar */
.navbar-collapse {
  flex-grow: 0;
}
.dropdown-menu {
  border: 0;
}
.search-btn {
  height: 40px;
  width: 40px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.search-btn:hover,
 .login-btn:hover {
  background-color: #05264e !important;
  border: none;
}

/* Banner */
.slider,
.find-job {
  /* background-color: #e6e6fa; */
}
.banner-1 ,.banner-3{
  background-image: url("../images/Banner/bg-banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.text-green{
  color: #85ff83;
}
 .carousel-caption {
  top: 10%;
}
.banner-img img {
  right: -5%;
  bottom: -40%;
}
.carousel-item {
  height: 850px;
  background-color: #fff;
}
/* Bannre-2 */
.banner-2 {
  background: url("../images/Banner/2/banner-2.png") no-repeat top ;
  max-height: 100%;
  height: 800px;
}
.banner-2::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #05264e;
  opacity: 0.8;
}
/* Banner-3 */    
.banner-img-3 img{
  animation: 2s linear 0s infinite alternate none running hero-thumb-animation;
}
.join-btn {
  background: var(--primary-color);
}
/* Job */
.job-card {
  padding-top: 30px !important;
  margin-bottom: 30px;
  background-color: #f8faff !important;
}
.job-card:hover,.client-card:hover,.blog-card:hover,.rec-card:hover,.team-card:hover,
.mission .card:hover {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transform: translateY(-3px);
  border-color: #e0e6f7;
  background-color: white !important;
}
.job-card:hover .job-btn {
  color: white !important;
  background-color: #0d6efd !important;
}
.job-category a {
  background: #fff;
  border: 1px solid #e0e6f7;
  box-shadow: 0 2px 4px -5px #0a2a69 !important;
  font-size: 14px;
  padding: 13px 17px;
}
.job-category a:hover {
  border: 1px solid blue;
}
.job-img h5 {
  font-size: 18px;
}

/* Search Job */
.search-1 {
  top: -17%;
  left: -16%;
}
.search-2 {
  right: -11%;
  bottom: -37%;
}
.s-job-bottom .btn:hover,
.profile-content .btn:hover , .login-btn:hover {
  background-color: #05264e !important;
  transform: translateY(-2px);
  transition: 0.2s;
}
.s-job-bottom .learn-more:hover {
  color: #0d6efd !important;
}
.search-img .figure-img {
  max-width: 80%;
}

/* Our Clients */
.ratings-star {
  font-size: 12px;
}
.job-card,
.client-card {
  background-color: #f8faff !important;
  border-color: gray;
}
.client-img img {
  height: 100px;
  width: 100px;
}
/* service */
.service-content {
  background-color: #fff6f1;
}
.c-2 {
  background-color: #eff7ff;
}
.c-2 img {
  height: 160px;
}
.service-info a:hover {
  color: black !important;
}
.service-content:hover {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transform: translateY(-3px);
  border-color: #b4c0e0;
}
/* Job Place */
.place-img img {
  transition: 0.3s;
}
.place-card img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}
.place-card h4:hover {
  color: #0d6efd;
}
/* Blog */
.load-btn {
  background-color: #05264e;
}
.load-btn:hover {
  background-color: #0d6efd;
  transform: translateY(-3px);
}
/* Newslatter */
.nl-bg {
  background-image: url("../images/News-latter/bg-newsletter.svg");
}
.form-control {
  border: none !important;
}
/* Footer */
.footer-bottom {
  border-top: 1px solid #e0e6f7;
}
.footer-social i {
  border-radius: 50%;
}

.footer-social a:hover img {
  transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.scroll-up {
  right: 0;
  height: 48px;
  width: 48px;
  line-height: 50px;
}
/* findjob */
.slider {
  /* background-image: url(../images/bg-img.jpg); */
  background-size: cover;
  background-position: center;
  background-image: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f2f6fd;
}
.form-find {
  top: 20% !important;
}

/* service page */
.service-banner {
  background-image: url(../images/service\ banner.jpg);
  background-size: cover !important;
  background-position: center top;
  position: relative;
  align-self: center;
  padding: 170px 0;
  z-index: 1;
}
.service-banner::before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.icon{
  width: 70px;
  height: 70px;
  line-height: 70px;
}
/* contact Page */
.contact-banner {
  background-image: url("../images/Contact/banner/banner.png");
  background-size: cover;
  height: 180px !important;
}
.contact-info img {
  height: 40px;
}
.contact-card{
  bottom: 19%;
}
/* Conatact info */
.info .row {
  background-color: #dbe4f5;
}
.form-control{
  border: 1px solid rgb(244, 236, 236) !important;
}
/* About Page */
/* Team */
.team-card {
  border: thin solid #cfd9f8;
}
.team-img img {
  width: 126px;
  height: 126px;
}
/* Feedback */
.feedback-card {
  border: 1px solid #c0cef0;
}
.arrow-shape {
  left: 11%;
}
.feedback-card::before {
  content: "";
  height: 33px;
  width: 30px;
  background: #fff url("../images/About/feedback/arrow.d11eaa09.png") no-repeat;
  position: absolute;
  bottom: -32px;
}
/* Cta */
.cta-btn .btn-1:hover,
.cta-btn .btn-2:hover {
  background-color: #05264e !important;
  color: white;
}
/* Login Page */
/* .login-form form {
  width: 35%;
} */
.login-form .form-control,
.login-form .submit {
  padding: 11px 15px 13px;
}
.login-shape-1 {
  right: 15%;
  top: 50%;
  animation: 2s linear 0s infinite alternate none running hero-thumb-animation;
}
@keyframes hero-thumb-animation {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
